<div class="sidebar">
  <div class="container sidebar-sticky">

    <nav class="sidebar-nav">

      {% assign sidebar_sections = site.data.sidebar %}
      {% for section in sidebar_sections  %}
        <h4>{{ section.title }}</h4>
        <ul>
        {% for node in section.nodes %}
        {% if node.title != null %}
          <li>
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          </li>
        {% endif %}
        {% endfor %}
        </ul>
      {% endfor %}

      {% comment %}
      <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a>
      {% endcomment %}

      <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub</a>

      <p><span class="sidebar-nav-item">Site version: v{{ site.version }}</span></p>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
