<div class="sidebar">
  <div class="container sidebar-sticky">

    <nav class="sidebar-nav">

      {% assign sidebar_sections = site.data.sidebar %}
      {% for section in sidebar_sections  %}
        <h4>{{ section.title }}</h4>
        <ul class="sidebar-nav-list">
        {% for node in section.nodes %}
        {% if node.title != null %}
          <li>
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
            {% if node.subsections != null %}
            <ul class="sidebar-nav-sublist">
              {% for subsection in node.subsections %}
              {% if subsection.title != null %}
                <li class="{% if page.url == subsection.url %}active{% endif %}">
                  <a class="sidebar-nav-item{% if page.url == subsection.url %} active{% endif %}" href="{{ subsection.url }}">{{ subsection.title }}</a>
                </li>
              {% endif %}
              {% endfor %}
            </ul>
            {% endif %}
          </li>
        {% endif %}
        {% endfor %}
        </ul>
      {% endfor %}

      {% comment %}
      <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a>
      {% endcomment %}

    </nav>

    <div class="sidebar-footer">
      <p>Site version: v{{ site.version }}</p>
      <p class="font-italic">&copy; {{ site.time | date: '%Y' }} {{ site.owner }} All rights reserved</p>
    </div>
  </div>
</div>
